@using Microsoft.AspNetCore.Identity
@using RepositoryLibrary.Features.Users.Entities
@inject NavigationManager NavigationManager
@inject SignInManager<EMUser> SignInManager
@rendermode InteractiveServer


<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="ms-3">
    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
</RadzenStack>
<RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute; z-index: 3;">
    <RadzenStack AlignItems="AlignItems.End" class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
    </RadzenStack>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Path="/dashboard" Text="Home" Icon="home" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        <AuthorizeView Roles="@StaticRole.Admin">
            <Authorized>
                <RadzenPanelMenuItem Path="/admin/schools" Text="Schools" Icon="account_box" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenPanelMenuItem Path="/admin/users" Text="Users" Icon="account_box" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenPanelMenuItem Path="/admin/horses" Text="Horses" Icon="motorcycle" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenPanelMenuItem Path="/admin/purchases" Text="Payments" Icon="payments" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Path="/lessons" Text="Lessons" Icon="event" Style="font-size: 1.2rem" Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="@StaticRole.Student">
                <RadzenPanelMenuItem Path="/payments"
                                     Text="Payments"
                                     Icon="payments"
                                     Style="font-size: 1.2rem"
                                     Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        </AuthorizeView>
    </RadzenPanelMenu>
</RadzenSidebar>

@if (sidebarExpanded)
{
    <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
}

@code {
    bool sidebarExpanded = false;
}

