@using Radzen
@using RepositoryLibrary.Models.DTOs
@using static RideReady.Components.Payments.AdminPayments

<h4>Confirm Payment</h4>

@if (Lines != null)
{
    <ul>
        @foreach (var line in Lines)
        {
            <li>
                @line.Name x @line.Quantity — € @line.Total
            </li>
        }
    </ul>

    <hr />

    <b>Total: € @Total</b>
}

<div style="display:flex; justify-content:flex-end; gap:10px; margin-top:20px;">
    <RadzenButton Text="Cancel" Click="@Cancel" />
    <RadzenButton Text="Confirm" Click="@Confirm" />
</div>

@code {



    [Parameter] public List<PaymentPreviewLines> Lines { get; set; } = new();
    [Parameter] public decimal Total { get; set; }

    [Inject] DialogService DialogService { get; set; } = default!;

    void Cancel() => DialogService.Close(false);
    void Confirm() => DialogService.Close(true);
}
