@rendermode InteractiveServer
@inject DialogService DialogService
@inject ILessonService lessonService
@inject IBookingService bookingService
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens
@using RepositoryLibrary.IServices
@using RepositoryLibrary.Models
@using System.Security.Claims
@inject NavigationManager NavigationManager

@if(lessons is null){
    <p>Loading...</p>
}
else
{
<div class="border border-1">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-12">
        <RadzenLabel Text="Select Date" Component="RadzenDatePickerBindValue" />
        <RadzenDatePicker 
            @bind-Value="value" 
            TValue="DateOnly?" 
            ShowCalendarWeek
            Change="@(() => OnDateChanged(value))" />
        <RadzenButton Text="All" Click="RefreshPage" />
        </RadzenStack>

<RadzenDataList 
                     AllowPaging="true"
                    Data="@lessons" TItem="Lesson" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="lesson">
            <RadzenCard Variant="Variant.Outlined" class="rz-p-0" Style="width: 100%; overflow: hidden;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-on-secondary-lighter">@(lesson.School.SchoolName)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="7" class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Dia</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(lesson.BeginOfLesson.ToString("yyyy-MM-dd"))</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Inicio</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(lesson.BeginOfLesson.ToString("HH:mm"))</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Fim</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(lesson.EndOfLesson.ToString("HH:mm"))</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Tipo de Aula</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(lesson.LessonType.Name)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Lugares</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(bookedSpots[lesson.LessonId])/@(lesson.MaxSpots)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="2" SizeMD="2" SizeLG="2" class="rz-text-align-start rz-text-align-lg-end">
                                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Text=@(lesson.LessonType.DurationInMinutes.ToString() + "mins") />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                @if(bookings.Any(b => b.UserId == userId && b.LessonId == lesson.LessonId)){
                    <RadzenColumn Size="2" SizeLG="2" class="rz-p-4">
                        <RadzenButton Text="Cancel" Click=@(args => CancelLesson(userId, lesson.LessonId)) Style="width: 100%" />
                    </RadzenColumn>
                }
                else if (bookingAvailability.ContainsKey(lesson.LessonId) && bookingAvailability[lesson.LessonId])
                {
                    <RadzenColumn Size="2" SizeLG="2" class="rz-p-4">
                        <RadzenButton Text="Book" Click=@(args => BookLesson(lesson.LessonId)) Style="width: 100%" />
                    </RadzenColumn>
                }
                else
                {
                    <RadzenColumn Size="2" SizeLG="2" class="rz-p-4">
                        <RadzenButton Text="Book" Click=@(args => BookLesson(lesson.LessonId)) Style="width: 100%" Disabled=true />
                    </RadzenColumn>
                }
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>
<style>
.product-title {
    min-height: 72px;
    background-color: var(--rz-secondary-lighter);
}
.price-badge {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 8px;
}
</style>


}

@code {

    [Parameter]
    public List<Lesson> lessons {get; set;}  = [];
    public DateOnly? value {get; set;}
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    List<Claim> Claims {get;set;}
    Variant variant = Variant.Filled;
    private string userId {get; set;}
    private School userSchool {get; set;}
    private Dictionary<int, bool> bookingAvailability = new();
    private Dictionary<int, int> bookedSpots = new();
    private List<Booking> bookings = [];

    protected override async Task OnInitializedAsync(){
        authenticationStateTask = AuthStateProvider.GetAuthenticationStateAsync();
        await base.OnInitializedAsync();
        var authState = await authenticationStateTask;
        var user = authState.User;
        userId = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        var schoolIdClaim = user.Claims.FirstOrDefault(c => c.Type == "SchoolId")?.Value;
        var all = await lessonService.GetAllLessonsAsync();
        lessons = all.ToList();
        bookings = await bookingService.GetBookingsByUserIdAsync(userId);
        foreach(var lesson in lessons)
        {
            try
            {
            await bookingService.CanBook(userId, lesson.LessonId);
            if(lesson.School.SchoolId.ToString() != schoolIdClaim) throw new Exception("Wrong School");
            bookingAvailability[lesson.LessonId] =  true;
            }
            catch(Exception e)
            {
            Console.WriteLine(e);
            bookingAvailability[lesson.LessonId] =  false;
            }
             bookedSpots[lesson.LessonId] = await BookingsLesson(lesson.LessonId);
        } 
        StateHasChanged();
    }


    @* protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        foreach(var lesson in lessons)
        {
            try
            {
            await bookingService.CanBook(userId, lesson.LessonId);
            bookingAvailability[lesson.LessonId] =  true;
            }
            catch
            {
            bookingAvailability[lesson.LessonId] =  false;
            }
        }
    }
 *@

    private async Task<int> BookingsLesson(int lessonId)
    {
        var bookings = await bookingService.GetBookingByLesson(lessonId);
        return bookings.Count;
    }
   
    private async Task BookLesson(int LessonId)
    {
        @* var userId = httpContext.User.Claims.FirstOrDefault(u=> u.Type == ClaimTypes.NameIdentifier).Value; *@
        var authState = await authenticationStateTask;
        var user = authState.User;
        userId = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value;
        if(userId is not null)
        await bookingService.CreateBookingAsync(userId, LessonId);
        StateHasChanged();
        RefreshPage();
        
    }

    private async Task<bool> CanBookLesson(string userId, int lessonId)
    {
        _ = await bookingService.CanBook(userId,lessonId);
        return true;
    }

    async Task OnDateChanged(DateOnly? newDate)
    {
      value = newDate;
      // re-fetch all lessons (or keep a cached copy) then apply filter:
      var all = await lessonService.GetAllLessonsAsync();
      lessons = value.HasValue 
                   ? all.Where(l => DateOnly.FromDateTime(l.BeginOfLesson) == value).ToList() 
                   : all.ToList();

      // rebuild your bookedSpots dict if you need to:
      bookedSpots.Clear();
      foreach (var lesson in lessons)
          bookedSpots[lesson.LessonId] = await BookingsLesson(lesson.LessonId);

      StateHasChanged();
    }
  private void RefreshPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
    private async Task CancelLesson(string userId, int lessonId)
    {
        await bookingService.CancelBookingAsync(userId, lessonId);
        RefreshPage();
    }
}

