@page "/admin/payments/{StudentId}/new"
@page "/students/payments/{StudentId}/new"
@using Microsoft.AspNetCore.Authorization
@using Radzen
@using Radzen.Blazor
@using RepositoryLibrary.IServices
@using RepositoryLibrary.Models
@using RepositoryLibrary.Models.DTOs
@using RepositoryLibrary.Services
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using SharedLibrary.Models.Static_Class
@rendermode InteractiveServer
@inject IProductService ProductService
@inject IUserService UserService
@inject IPurchaseService PurchaseService
@inject AuthenticationStateProvider AuthStateProvider
@inject DialogService DialogService
@inject NavigationManager Navigation
@attribute [Authorize]



<h3>Pagamento</h3>
@if (!_authorized)
{
    <h3>Acesso negado</h3>
}
else if (_loading)
{
    <p>Loading...</p>
}
else if (_productsSubscription.Any() || _productsNoSubscription.Any())
{
    <RadzenStack Gap="1.5rem">

        <!-- SUBSCRIÇÃO -->
        <RadzenCard Style="padding:1rem">

            <RadzenStack Gap="1rem">

                <h4>Subscrição</h4>

                <RadzenDropDown Data="@_productsSubscription"
                                TextProperty="ProductName"
                                ValueProperty="ProductId"
                                @bind-Value="_selectedProductId"
                                Placeholder="Selecione uma subscrição"
                                Style="width:300px" />

                <RadzenRow AlignItems="AlignItems.End" Gap="1rem">

                    <RadzenColumn Size="4">
                        <RadzenLabel Text="Subscrição ativa até" />
                        <RadzenDatePicker @bind-Value="endSubscription"
                                          DateFormat="dd/MM/yyyy"
                                          Style="width:100%" />
                    </RadzenColumn>

                    <RadzenColumn Size="3">
                        <RadzenLabel Text="Adicionar meses" />
                        <RadzenNumeric @bind-Value="subscriptionQuantity"
                                       TValue="int"
                                       Min="0"
                                       Step="1"
                                       Style="width:100%" />
                    </RadzenColumn>

                    <RadzenColumn Size="5">
                        <RadzenLabel Text="Nova data final" />

                        <RadzenTextBox Value="@GetNewEndSubscription().ToString("dd/MM/yyyy")"
                                       ReadOnly="true"
                                       Style="width:100%" />
                    </RadzenColumn>

                </RadzenRow>

            </RadzenStack>

        </RadzenCard>

        <!-- PRODUTOS AVULSO -->
        <RadzenCard Style="padding:1rem">

            <RadzenStack Gap="1rem">

                <h4>Pacotes / Créditos</h4>

                @foreach (ProductView productView in _productsNoSubscription)
                {
                    <RadzenRow AlignItems="AlignItems.Center" Gap="1rem">

                        <RadzenColumn Size="6">
                            <b>@productView.ProductName</b>
                        </RadzenColumn>

                        <RadzenColumn Size="3">
                            @productView.Price.ToString("0.00") €
                        </RadzenColumn>

                        <RadzenColumn Size="3">
                            <RadzenNumeric TValue="int"
                                           @bind-Value="productView.Quantity"
                                           Min="0"
                                           Step="1"
                                           Style="width:100%" />
                        </RadzenColumn>

                    </RadzenRow>
                }
                <RadzenButton Text="Criar pagamento"
                              Icon="payment"
                              Click="@OpenPaymentModal"
                              Style="margin-top:1rem" />
            </RadzenStack>

        </RadzenCard>

    </RadzenStack>
}

@code {

    [Parameter]
    public string StudentId { get; set; } = string.Empty;

    private sealed class ProductView
    {
        public int ProductId { get; set; }

        public string ProductName { get; set; } = string.Empty;

        public decimal Price { get; set; }

        public int Quantity { get; set; }
    }

    private List<ProductView> _productsSubscription = new();
    private List<ProductView> _productsNoSubscription = new();

    private bool _authorized = false;

    private bool _loading = true;

    private bool _paymentReceived = false;

    private int _selectedProductId = 0;

    private DateTime startSubscription = DateTime.Now.Date;

    private DateTime endSubscription = DateTime.Now.Date;

    private int subscriptionQuantity = 0;

    private DateTime GetNewEndSubscription()
    {
        return endSubscription.AddMonths(subscriptionQuantity);
    }

    private async Task LoadProducts()
    {
        var allProducts = await ProductService.GetAll();

        _productsSubscription.Add(
        new ProductView
        {
            ProductId = 0,
            ProductName = "Selecione uma subscrição",
            Price = 0
        });

        _productsSubscription.AddRange(
            allProducts
            .Where(t => t.Entitlements.Any(e =>
                e.WeeklyFrequency.HasValue &&
                e.WeeklyFrequency > 0))
            .Select(x => new ProductView
            {
                ProductId = x.Id,
                ProductName = x.Name,
                Price = x.Price,
                Quantity = 0
            }));

        _productsNoSubscription = allProducts
            .Where(t => t.Entitlements.Any(e =>
                e.CreditsGranted.HasValue &&
                e.CreditsGranted > 0))
            .Select(x => new ProductView
            {
                ProductId = x.Id,
                ProductName = x.Name,
                Price = x.Price,
                Quantity = 0
            })
            .ToList();

        _loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity == null || !user.Identity.IsAuthenticated)
            return;

        var userId = user.FindFirst("sub")?.Value
                     ?? user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        var isAdmin = user.IsInRole(StaticRole.Admin);

        // regra: admin OU dono do studentId
        if (isAdmin || userId == StudentId)
        {
            _authorized = true;
            await LoadProducts();
        }
        else
        {
            _authorized = false;
            return;
        }
    }

    private List<PurchaseRequestLine> BuildRequestLines()
    {
        var lines = new List<PurchaseRequestLine>();

        // SUBSCRIÇÃO
        if (_selectedProductId > 0 && subscriptionQuantity > 0)
        {
            var subscription = _productsSubscription
                .First(x => x.ProductId == _selectedProductId);

            lines.Add(new PurchaseRequestLine(
             new Product
             {
                 Id = subscription.ProductId,
                 Name = subscription.ProductName,
                 Price = subscription.Price
             },
             PurchaseLineKind.Subscription,
             subscriptionQuantity,
             DateOnly.FromDateTime(endSubscription.AddDays(1)),
             DateOnly.FromDateTime(GetNewEndSubscription())
         ));
        }

        // CRÉDITOS
        foreach (var product in _productsNoSubscription
                     .Where(x => x.Quantity > 0))
        {
            lines.Add(new PurchaseRequestLine(
            new Product
            {
                Id = product.ProductId,
                Name = product.ProductName,
                Price = product.Price
            },
            PurchaseLineKind.CreditPack,
            product.Quantity,
            null,
            null
        ));
        }

        return lines;
    }

    private async Task OpenPaymentModal()
    {
        var requestLines = BuildRequestLines();

        if (!requestLines.Any())
        {
            await DialogService.Alert(
                "Selecione pelo menos um produto.",
                "Pagamento");

            return;
        }

        await CreatePayment(requestLines);
        
    }

    private async Task CreatePayment(List<PurchaseRequestLine> requestLines)
    {

        var model = new CreatePaymentDialogModel
        {
            UserId = StudentId,
            Lines = BuildRequestLines()
        };

        var result = await DialogService.OpenAsync<PaymentDialog>(
            "Pagamento",
            new Dictionary<string, object>
            {
        { "Model", model }
            },
            new DialogOptions
            {
                Width = "600px",
                Height = "auto"
            });

        if (result is PaymentDialog.PaymentDialogResult r)
        {
            var purchase = await PurchaseService.CreatePendingPurchase(StudentId, model.Lines);

            if (r.PaymentReceived)
            {
                await PurchaseService.ConfirmPayment(purchase.Id);
            }
        }

        Navigation.NavigateTo($"/admin/payments/{StudentId}");
    }

}